html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("../img/apertura-joyas-small-ku5B--1248x698@abc.jpg");
  background-size: cover;
}


  
