@page
@model IndexModel
@{
    ViewData["Title"] = "lau' joyas";
}
 <body>
   <div class="text-center">
    <h1 class="display-4">lau' joyas</h1>
    <P></P>
    <P></P>

    <p><a href="https://localhost:7148/Movies">click aqui para descubrir nuevas colecciones</a>.</p>

   <h1>venta, fabricacion y diseños de joyas</h1><strong>

   <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/03/09/16468217185294.jpg" height="400" width="500">
        <p>No vendemos joyas vendemos tesoros de amor propio</p>
</div>
</body>


